<div class="container-terminal">
  <p># <span class="txt-cyan">About me</span></p>
  <p style="overflow: hidden">
    ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  </p>
  <p>
    I am currently transitioning from a background in English literature and
    language to a career in software development. To confirm this career change,
    I was formed through a 9-month (1204 hours) training program to become an
    Application Developer.
  </p>
  <br />
  <p>
    I am now looking for a 12-month work-study position starting from the end of
    January 2025, to continue learning and growing in the field of software
    development.
  </p>
  <br />
  <br />
  <p># <span class="txt-cyan">In short</span></p>
  <p style="overflow: hidden">
    ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  </p>
  <ul>
    <li>
      - Training as an Application Developer at [<a
        href="https://le-campus-numerique.fr/"
        class="txt-purple"
        >Le Campus Numérique</a
      >] (April 2024 - January 2025).
    </li>
    <li>
      - Master's in English Literature, specializing in linguistics from
      Université Grenoble Alpes (September 2022).
    </li>
    <li>
      - Experience in teaching English, including tutoring and supporting
      students in difficulty.
    </li>
    <li>
      - Interested in software development and motivated to contribute to
      practical projects.
    </li>
    <li>
      - [<a
        href="https://github.com/Alopekos"
        class="txt-rainbow"
        target="_blank"
        >GitHub</a
      >] || [
      <a href="assets/Rémi-resume.pdf" class="txt-rainbow" download>Resume</a>
      ] || [
      <a href="mailto:remi.legrand@le-campus-numerique.fr" class="txt-rainbow"
        >Email</a
      >
      ] || [
      <a
        href="https://www.linkedin.com/in/r%C3%A9mi-legrand/"
        class="txt-rainbow"
        target="_blank"
        >LinkedIn</a
      >
      ]
    </li>
  </ul>
</div>
