p {
  font-family: "Ubuntu Mono", serif;
  margin-top: 1svh;
  color: var(--g-white-dark);
  font-size: 1em;
}

.command {
  color: var(--g-cyan);
}

.container-terminal {
  width: auto;
  padding-right: 10svh;
  padding-left: 10svh;
}

@media (max-width: 1470px) {
  p {
    font-size: 0.8em;
  }
}

@media (max-width: 750px) {
  li,
  p {
    font-size: 0.6em !important;
  }
}
