p {
  font-family: "Ubuntu Mono", serif;
  color: #b1b1b1;
  font-size: 1em;
}

h1 {
  font-family: "Ubuntu Mono", serif;
  color: #b1b1b1;
  font-size: 1.4em;
}

.container-terminal {
  width: auto;
  max-height: 50svh;
  padding-top: 1svh;
  padding-right: 10svh;
  padding-left: 10svh;
}

ul {
  color: #b1b1b1;
  font-family: "Ubuntu Mono", serif;
  margin-top: 1svh;
  margin-bottom: 0;
  list-style-type: none;
}

li {
  margin-top: 1svh;
}

.command {
  color: #269097;
}

.command-red {
  color: #aa1616;
}

.arrow {
  color: aliceblue;
}

/* Presentation */

.ascii-computer {
  font-size: 8px;
  color: aliceblue;
}

.portfolio-presentation > a {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5svh;
  width: 100%;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 1svh;
  padding-top: 2svh;
  padding-bottom: 2svh;
  padding-left: 4svh;
  padding-right: 4svh;
}

.portfolio-presentation > a > p {
  padding-top: 0 !important;
}
.right-container p {
  text-overflow: ellipsis;
  max-height: 15em; /* Adjust based on font size (5 lines x 1.5em line-height) */
  line-height: 1.5em; /* Ensure consistent line spacing */
}
.text-container {
  display: inline-block;
  font-size: 1em;
  font-family: "Ubuntu Mono", serif;
  visibility: hidden;
}

.typing .letter {
  display: inline-block;
  position: relative;
  top: 0;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  0% {
    top: -50px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

.typing {
  visibility: visible;
}
.container {
  display: flex;
  justify-content: flex-start;
  gap: 5svh;
  padding-left: 5svw;
  max-height: 35svh;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
}

.sleepy-fox {
  position: absolute;
  filter: grayscale(0.5) brightness(2);
  mix-blend-mode: multiply;
  top: 24%;
  left: 53%;
  transform: translateX(-50%);
  z-index: 10;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  pointer-events: none;
}

.fire-anim {
  position: absolute;
  top: 30%;
  left: 60%;
  transform: translateX(-50%) rotate(160deg);
  z-index: 10;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  pointer-events: none;
}

.signature-project-img {
  position: absolute;
  top: 0%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
  transform: translateX(-50%);
  z-index: 10;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  pointer-events: none;
}

pre {
  transition: opacity 1s ease-in-out;
}

.tux-ascii {
  font-size: 10px !important;
}

.left-container {
  position: relative;
  max-width: 30svw;
}

.left-container:hover .signature-project-img {
  opacity: 0.7;
}

.left-container:hover .c-logo-ascii {
  opacity: 0;
}

.left-container:hover .sleepy-fox {
  opacity: 1;
}

.left-container:hover .fire-anim {
  opacity: 0.4;
}

.right-container {
  max-width: 50svw;
  padding-left: 5svw;
}

/* info */

.container-info {
  padding-top: 2svh;
  display: flex;
  justify-content: flex-start;
  gap: 10svw;
  max-height: 35svh;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
}

.right-container-info {
  max-width: 40svw;
  padding-right: 5svw;
}

.left-container-info {
  position: relative;
  max-width: 50svw;
}

/*Game presentation*/

.video-container {
  position: relative;
  width: 50%;
  height: 50svh;
  overflow: hidden;
}

.responsive-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.container-for-embed-video {
  display: flex;
  margin-top: 3vh;
  margin-bottom: 2svh;
  align-items: center;
  justify-content: center;
}

.audiotrack-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3svh;
}

.soundtrack-player {
  border-radius: 15px;
}

@media (max-width: 1470px) {
  input,
  p {
    font-size: 0.8em;
  }

  .text-container {
    font-size: 0.8em;
  }

  .ascii-computer {
    font-size: 4px;
    color: aliceblue;
  }
  .ascii-godot {
    font-size: 4px;
    color: aliceblue;
  }
  .arrow {
    display: none;
  }

  .text-container {
    display: none;
  }

  .presentation-project {
    font-size: 1rem !important;
    line-height: 0.8rem !important;
  }

  .portfolio-presentation > a {
    gap: 0;
    width: auto;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    max-height: 10svh;
    font-size: 0.8em;
  }
  .godot-project {
    font-size: 1rem !important;
  }

  .title-project {
    font-size: 0.8em;
  }
  .right-container {
    padding-right: 0.5svw !important;
    padding-left: 0.5svw !important;
  }

  .container {
    gap: 0.5svh !important;
    padding-left: 0 !important;
  }
}

@media (max-width: 1050px) {
  .godot-project {
    display: none;
  }
  .godot-right-container {
    display: none;
  }

  .info-txt {
    font-size: 0.8rem !important;
  }
}

@media (max-width: 620px) {
  input,
  p {
    font-size: 0.6em;
  }

  .text-container {
    font-size: 0.6em;
  }

  .ascii-computer {
    font-size: 3px;
    color: aliceblue;
  }
  .ascii-godot {
    width: 100%;
    font-size: 3px;
    color: aliceblue;
  }
  .tux-ascii {
    font-size: 5px !important;
  }
  .arrow {
    display: none;
  }

  .text-container {
    display: none;
  }

  .presentation-project {
    font-size: 0.7rem !important;
    line-height: 0.8rem !important;
  }

  .portfolio-presentation > a {
    gap: 0;
    width: auto;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    max-height: 10svh;
    font-size: 0.8em;
  }

  .title-project {
    font-size: 0.6em;
  }

  .right-container {
    padding-right: 0.5svw !important;
  }

  .container {
    gap: 0.5svh !important;
    padding-left: 0 !important;
  }

  .godot-project {
    display: none;
  }
  .godot-right-container {
    display: none;
  }

  .to-be-hidden-for-low-res-screen {
    display: none !important;
  }

  .right-container-info {
    padding: 0;
    margin: 0;
  }

  .container-info {
    gap: 1svw;
  }

  .about-container > ul {
    padding: 0;
    font-size: 0.8em;
  }

  .about-container > p {
    font-size: 0.8em;
  }
}
