p {
  font-family: "Ubuntu Mono", serif;
  color: #b1b1b1;
  font-size: 1em;
}

.container-terminal {
  width: auto;
  max-height: 50svh;
  padding-top: 1svh;
  padding-right: 10svh;
  padding-left: 10svh;
}

ul {
  color: #b1b1b1;
  font-family: "Ubuntu Mono", serif;
  margin-top: 1svh;
  margin-bottom: 0;
  list-style-type: none;
}

li {
  margin-top: 1svh;
}

/* .rainbow-text {
  
} */

.command {
  color: #269097;
}

.command-red {
  color: #aa1616;
}

.arrow {
  color: aliceblue;
}
.portfolio-presentation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio-presentation > a {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 5svh;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 1svh;
  padding-top: 2svh;
  padding-bottom: 2svh;
  padding-left: 4svh;
  padding-right: 4svh;
}

.text-container {
  display: inline-block;
  font-size: 30px;
  font-family: "Ubuntu Mono", serif;
  background-image: linear-gradient(
    to left,
    rgb(199, 133, 199),
    rgb(110, 83, 129),
    rgb(99, 99, 192),
    rgb(38, 155, 38),
    rgb(216, 216, 70),
    rgb(212, 160, 64),
    rgb(201, 68, 68)
  );
  background-clip: inherit;
  -webkit-background-clip: text;
  color: transparent;
  visibility: hidden;
}

.typing .letter {
  display: inline-block;
  position: relative;
  top: 0;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  0% {
    top: -50px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}

.typing {
  visibility: visible;
}
.container {
  display: flex;
  align-items: top;
  justify-content: space-between;
  position: relative;
  height: 50svh;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
}

.project-img {
  height: 30svh;
  z-index: 2;
  border-radius: 5px;
}

.left-container {
  width: 50svw;
}
.right-container {
  width: 30svw;
}
