input,
p {
  color: aliceblue;
  font-family: "Ubuntu Mono", serif;
  font-size: 1em;
}

.container-terminal {
  width: auto;
  padding-top: 4svh;
  padding-right: 10svh;
  padding-left: 10svh;
}

.user {
  color: var(--g-yellow-dark);
}

.filepath {
  color: #5e78c0;
}

.line {
  display: flex;
  align-items: center;
}

@media (max-width: 1470px) {
  input,
  p {
    font-size: 0.8em;
  }
}

@media (max-width: 750px) {
  li,
  p {
    font-size: 0.6em !important;
  }
}
