<div class="container-terminal">
  <br />
  <h1># [Secrets]</h1>
  <p style="overflow: hidden">
    -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  </p>
  <p>
    Some sneaky secrets have been scattered on this website. Commands, easter
    eggs, programmer jokes, hidden files and more. Will you be able to find them
    all ?
  </p>

  <pre
    style="font-size: 0.5em; text-align: center"
  ><span class="txt-white-dark">
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⣀⣀⣀⣀⡀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀ ⠀⠀⠀⠀⠀⢀⣴⠾⠛⢉⣉⣉⣉⡉⠛⠷⣦⣄⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀ ⠀⠀⠀⢀⣴⠋<span class="txt-white">⣠⣴⣿⣿⣿⣿⣿⡿⣿⣶⣌</span>⠹⣷⡀⠀⠀
⠀⠀⠀⠀⠀⠀⠀ ⠀⠀⠀⣼⠁<span class="txt-white">⣴⣿⣿⣿⣿⣿⣿⣿⣿⣆⠉⠻⣧</span>⠘⣷⠀⠀
⠀⠀⠀⠀⠀⠀⠀ ⠀⠀⢰⡇<span class="txt-white">⢰⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠀⠀⠈⠀</span>⢹⡇⠀
⠀⠀⠀⠀⠀⠀⠀ ⠀⠀⢸⡇<span class="txt-white">⢸⣿⠛⣿⣿⣿⣿⣿⣿⡿⠃⠀⠀⠀⠀</span>⢸⡇⠀
⠀⠀⠀⠀⠀⠀⠀ ⠀⠀⠈⣷<span class="txt-white">⠀⢿⡆⠈⠛⠻⠟⠛⠉⠀⠀⠀⠀⠀⠀</span>⣾⠃⠀
⠀⠀⠀⠀⠀⠀⠀ ⠀⠀⠀⠸⣧⡀<span class="txt-white">⠻⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀</span>⢀⣼⠃⠀⠀
⠀⠀⠀⠀⠀⠀ ⠀⠀⠀⠀⠀⢼⠿⣦⣄⠀⠀⠀⠀⠀⠀⠀⣀⣴⠟⠁⠀⠀⠀
⠀⠀⠀⠀⠀<span class="txt-black-dark"> ⠀ ⠀⣠⣾⣿⣦⠀</span>⠀⠈⠉⠛⠓⠲⠶⠖⠚⠋⠉⠀⠀⠀⠀⠀⠀
⠀⠀⠀ ⠀⠀<span class="txt-black-dark">⣠⣾⣿⣿⠟⠁</span>⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀<span class="txt-black-dark">⣠⣾⣿⣿⠟⠁⠀⠀⠀</span>⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀<span class="txt-black-dark">⣾⣿⣿⠟⠁⠀⠀⠀⠀⠀</span>⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
<span class="txt-black-dark">⢀⣄⠈⠛⠁⠀⠀⠀⠀⠀⠀⠀</span>⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀<span class="txt-black-dark">⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</span>⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀</span></pre>
  <p style="overflow: hidden">
    -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
  </p>
  <p style="text-align: center">
    [<span class="txt-rainbow">Good luck !</span>]
  </p>
</div>
