<div class="container-terminal">
  <p>Here is a list of commands you should try :</p>
  <ul>
    <li>
      [<span class="command">list</span>] or [<span class="command">ls</span>]:
      lists all files in the directory.
    </li>
    <li>
      [<span class="command">clear</span>] or [<span class="command">cl</span>]:
      clears all previous commands.
    </li>
    <li>
      [<span class="command">neo</span>] or [<span class="command"
        >neofetch</span
      >]: retrieves page presentation.
    </li>
    <li>... more to come</li>
  </ul>
</div>
