<div class="container-terminal">
  <p>My first ever project in JavaScript</p>
  <div
    class="portfolio-presentation"
    (mouseenter)="onHover()"
    (mouseleave)="onLeave()"
  >
    <a href="https://alopekos.github.io/">
      <img
        [ngSrc]="'assets/SleepyFox.png'"
        alt="SleepyFox"
        width="100"
        height="50"
      />
      <span class="arrow">|</span>
      <div class="text-container" [class.typing]="isHovered">
        <span
          *ngFor="let letter of textArray; let i = index"
          class="letter"
          [style.animationDelay]="i * 0.07 + 's'"
        >
          {{ letter }}
        </span>
      </div>
    </a>
  </div>
</div>
<div class="container-terminal">
  <div class="container">
    <div class="left-container">
      <p>
        Here is a presentation of my portfolio: <br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum. Curabitur pretium tincidunt lacus. Nulla
        gravida orci a odio. Nullam varius, turpis et commodo pharetra, est eros
        bibendum elit, nec luctus magna felis sollicitudin mauris.
      </p>
    </div>
    <div class="right-container">
      <img
        class="project-img"
        src="assets/Projet1-Portefolio.png"
        alt="project-picture"
      />
    </div>
  </div>
</div>
<div class="container-terminal">
  <p style="padding-top: 1svh">
    Go and have a look if you'd like by clicking on the sleepy fox.
  </p>
</div>
