<div class="container-terminal">
  <br />
</div>
<div class="container-terminal godot-terminal-container">
  <p>[<span class="txt-rainbow">A game project I am working on</span>]:</p>
  <br />
  <div class="container">
    <div class="left-container">
      <pre
        class="ascii-godot"
        style="font-size: 5px; text-align: center"
      ><span class="txt-cyan" style="text-align: center;">                                 ..:                :..                                  
                             .::-=====-              -=====--:.                            
                          -===========-            -===========-                          
                          =============-          -=============                          
                          -=============----------==============                          
                          -====================================-                          
                          :====================================:                          
           ..          .:-=======================================:.          ..           
         .-===-:     :-============================================-:     .-===-.         
        -========-:-==================================================-:-========-        
      .============================================================================:      
     -==============================================================================-     
    .================================================================================.    
      -============================================================================-.     
       :==========================================================================:       
        .-=======================================================================.        
         -============:..  ..:-============================-:..  ..:-===========-         
         -=========-.     ..    :========================-    ..     .-=========-         
         -========-    -*####*=  :=========-::-=========:  -*####*=    -========-         
         -========.   *########*  -=======:    :=======-  *########*   .========-         
         -========.  .##########: -=======:    .=======- .##########:  .========-         
         -========-   +########+  ========:    .========. +########*   :========-         
         -=========:   :+####+- .-========:    .=========. :+####+-   :=========-         
         -===========:.       .-==========:    :==========-.       .:-==========-         
         -===============---===============-::-===============----==============-         
         -======================================================================-         
         ::-----==========================================================-----::         
                      .:==========================================:.                      
         ------:::::.   ============:                :============   ..:::::-----         
         -===========.  -===========.  ::::::::::::  .============   ===========-         
         :===========.  :--=========   ============   =========--:  .===========:         
          ===========:                .============.                :===========.         
          .===========---:::::::......-============-......:::::::---===========.          
           .-================================================================-.           
             .-============================================================-.             
               .:-======================================================-:.               
                  .:--===============================================-:.                  
                       ..:--==================================--::.                       
...::::--------------::::...       

                            </span></pre>
    </div>
    <div class="right-container godot-right-container">
      <p class="godot-project">
        A big project I have on the side is an real-time RPG game using the
        [<span class="txt-blue">Godot Engine</span>] and [<span class="txt-blue"
          >GDScript</span
        >]. The combats would happen on a grid-based map and the player could
        chose between four classes: Healer, Tank, Mage or Melee. <br /><br />
        For now the code is private and I do not wish to share it until the game
        is done and polished. Once it is, I was thinking about releasing it
        either for free or else it will be extremely affordable. And when it is
        released, the code will definitely be open source.
      </p>
    </div>
  </div>
</div>
<div class="container-terminal">
  <div class="portfolio-presentation">
    <p style="overflow: hidden">
      ===============================================================================================================================================================================
    </p>
    <p class="title-project" style="text-align: center; text-wrap-mode: nowrap">
      [<span class="txt-rainbow">A little demo of the alpha version</span>]
    </p>
    <p style="overflow: hidden">
      ===============================================================================================================================================================================
    </p>
  </div>
</div>
<div class="container-for-embed-video">
  <div class="video-container">
    <video class="responsive-video" controls>
      <source src="assets/demo-game.mp4" type="video/mp4" />
      If you see this, your browser does not support the video tag.
    </video>
  </div>
</div>
<div class="container-terminal">
  <div class="portfolio-presentation">
    <p style="overflow: hidden">
      ===============================================================================================================================================================================
    </p>
    <p class="title-project" style="text-align: center; text-wrap-mode: nowrap">
      [<span class="txt-rainbow"
        >Not leaving without a game soundtrack right ?</span
      >]
    </p>
    <p style="overflow: hidden">
      ===============================================================================================================================================================================
    </p>
  </div>
  <div class="audiotrack-container">
    <audio class="soundtrack-player" controls>
      <source src="assets/song-fight.mp3" type="audio/mp3" />
      If you see this, your browser does not support the audio element.
    </audio>
  </div>
</div>
