<div *ngIf="showLoadingAnim">
  <presentation-animation
    (animationCompleted)="onAnimationCompleted()"
  ></presentation-animation>
</div>

<div *ngIf="!showLoadingAnim">
  <!-- Presentation on load -->
  <div *ngIf="isNotCleared">
    <presentation></presentation>
    <div class="container-terminal">
      <help></help>
    </div>
  </div>

  <!-- List of used commands -->
  <div *ngFor="let child of children">
    <app-used-commands [name]="child"></app-used-commands>

    <div *ngIf="child == 'help'; else two">
      <app-help-command></app-help-command>
    </div>

    <ng-template #two>
      <div *ngIf="child == 'list'; else three">
        <app-ls-command [currentPath]="currentPath">></app-ls-command>
      </div>
    </ng-template>

    <ng-template #three>
      <div *ngIf="child == 'change directory'; else four">
        <app-ls-command-without-help [currentPathWithoutHelp]="currentPath"
          >></app-ls-command-without-help
        >
      </div>
    </ng-template>

    <ng-template #four>
      <div *ngIf="child == 'home'; else five">
        <app-ls-command-without-help [currentPathWithoutHelp]="currentPath"
          >></app-ls-command-without-help
        >
      </div>
    </ng-template>

    <ng-template #five>
      <div *ngIf="child == 'neofetch'; else six">
        <app-neofetch-command></app-neofetch-command>
      </div>
    </ng-template>

    <ng-template #six>
      <div *ngIf="child == 'portfolio_v1'; else seven">
        <app-portfolio-v1></app-portfolio-v1>
      </div>
    </ng-template>

    <ng-template #seven>
      <app-not-a-command></app-not-a-command>
    </ng-template>
  </div>
  <terminal-input
    (helpCommand)="onHelpCommand()"
    (clearCommand)="onClearCommand()"
    (lsCommand)="onLsCommand()"
    (goBackCommand)="onGoBackCommand()"
    (neofetchCommand)="onNeofetchCommand()"
    (cdCommand)="onCdCommand($event)"
    (notACommand)="onNotACommand($event)"
  ></terminal-input>
</div>

<router-outlet></router-outlet>
