input,
p {
  color: aliceblue;
  font-family: "Ubuntu Mono", serif;
  font-size: 1em;
}

.container-terminal {
  width: auto;
  padding-top: 5svh;
  padding-right: 10svh;
  padding-left: 10svh;
}

.user {
  color: #4e8864;
}

.filepath {
  color: #5e78c0;
}

input {
  background: none;
  border: none;
  outline: none;
  margin-left: 5px;
}
