input,
p {
  color: var(--g-white-dark);
  font-size: 1em;
  font-family: "Ubuntu Mono", serif;
  display: flex;
  align-items: center;
  justify-content: start;
}

.container-terminal {
  width: auto;
  padding-top: 5svh;
  padding-right: 10svh;
  padding-left: 10svh;
}

.user {
  color: var(--g-green-dark);
}

.neofetch-color {
  color: var(--g-cyan);
}

.filepath {
  color: var(--g-blue);
}

.neofetch-container {
  display: flex;
  justify-content: center;
}

.ascii-art {
  color: var(--g-yellow);
}

.ascii-white {
  color: var(--g-white);
}

.ascii-black {
  color: var(--g-black-dark);
}

.neofetch-color-rect {
  margin-top: 3svh;
  display: flex;
  height: 4svh;
  flex-direction: row;
  justify-content: center;
}
.neofetch-color-rect-two {
  margin: 0;
  display: flex;
  height: 4svh;
  flex-direction: row;
  justify-content: center;
}

.rect {
  display: flex;
  width: 12%;
}

.socials {
  display: flex;
  align-items: center;
}

.icon {
  height: 22px;
  opacity: 1;
}

.icon-background {
  display: flex;
  position: absolute;
  text-align: center;
  opacity: 0;
  background-color: #269097;
  border-radius: 4px;
  width: 1svh;
  transition: width 1s, opacity 0.4s;
}

.socials:hover > .icon-background {
  opacity: 1;
  width: 12svh;
}
.arrow {
  opacity: 1;
  transition: 0.2;
}
.socials:hover > .arrow {
  opacity: 0;
}
