<div class="container-terminal">
  <div class="io-terminal">
    <p style="color: aliceblue">
      <span class="user">remi&commat;legrand</span>:
      <span class="filepath">&nbsp;~/&nbsp;</span>neofetch
    </p>
    <div class="neofetch-container">
      <div class="left-container">
        <pre class="ascii-art">
                                         
            6666                  6666              
          6666666                6666666      
          66<span class="ascii-white">mmmm</span>666            666<span class="ascii-white">mmmm</span>66      
          66<span class="ascii-white">mmmmm</span>6666666666666666<span class="ascii-white">mmmmm</span>66      
          66<span class="ascii-white">mmmmm</span>6666666666666666<span class="ascii-white">mmmmm</span>66      
          66<span class="ascii-white">mmmm</span>666666666666666666<span class="ascii-white">mmmm</span>66      
          66<span class="ascii-white">mm</span>6666666666666666666666<span class="ascii-white">mm</span>66      
            66666666666666666666666666        
            66666666666666666666666666        
          666666      666666      666666      
        <span class="ascii-white">mm</span>66666666666  6666  66666666666<span class="ascii-white">mm</span>    
        <span class="ascii-white">mm</span>666666666666666666666666666666<span class="ascii-white">mm</span>    
        <span class="ascii-white">mm</span>dd6666666666XXXXXX6666666666dd<span class="ascii-white">mm</span>    
          <span class="ascii-white">mmmm</span>6666666mm<span class="ascii-black">PPPP</span>mm6666666<span class="ascii-white">mmmm</span>      
            <span class="ascii-white">mmmmmmmmm</span><span class="ascii-black">VVmmmmVV</span><span class="ascii-white">mmmmmmmmm</span>        
              <span class="ascii-white">mmmmmmmmmmmmmmmmmmmmmm</span>          
                  <span class="ascii-white">mmmmmmmmmmmmm</span>              
                                                          
            </pre>
      </div>
      <div class="right-container">
        <p class="no-margin">
          <span class="neofetch-color"> remi&commat;legrand</span>
        </p>
        <p>------------</p>
        <p><span class="neofetch-color">Job</span>: developer</p>
        <p><span class="neofetch-color">Situation</span>: open to work</p>
        <p><span class="neofetch-color">Kernel</span>: 42.00.1337</p>
        <p><span class="neofetch-color">Uptime</span>: 26 years old</p>
        <p>
          <span class="neofetch-color">Technologies</span>: Java, C/C++,
          JavaScript, PHP, GDScript
        </p>
        <p>
          <span class="neofetch-color">Frameworks</span>: Angular, SpringBoot,
          VueJS, Laravel
        </p>
        <p>
          <span class="neofetch-color">Others</span>: UX/UI, Git, GitLab, SQL,
          Agile
        </p>
        <p>
          <span class="neofetch-color">Github</span>:&nbsp;
          <a
            href="https://github.com/Alopekos"
            style="text-decoration: none; color: white"
          >
            <span class="socials">
              <span class="icon-background">
                <img
                  class="icon"
                  src="assets/github-mark-white.png"
                  alt="github-icon"
                  loading="lazy"
                />
                <p style="font-size: 17px; color: aliceblue">
                  &nbsp;&commat;Alopekos
                </p>
              </span>
              <span class="arrow">&#10147;</span>
            </span>
          </a>
        </p>
        <p>
          <span class="neofetch-color">LinkedIn</span>:&nbsp;
          <a
            href="https://www.linkedin.com/in/r%C3%A9mi-legrand/"
            style="text-decoration: none; color: white"
          >
            <span class="socials">
              <span class="icon-background">
                <img
                  class="icon"
                  src="assets/linkedin-icon.png"
                  alt="linkedin-icon"
                  loading="lazy"
                />
                <p
                  style="
                    font-size: 17px;
                    text-wrap-mode: nowrap;
                    color: aliceblue;
                  "
                >
                  &nbsp;&nbsp;&commat;Rémi L.
                </p>
              </span>
              <span class="arrow">&#10147;</span>
            </span>
          </a>
        </p>
        <p>
          <span class="neofetch-color">Resume</span>:&nbsp;
          <a
            href=""
            download="resume"
            style="text-decoration: none; color: white"
          >
            <span class="arrow">&#10147;</span> (not available yet)</a
          >
        </p>
        <p>
          <span class="neofetch-color">Email</span>:&nbsp;
          <a
            class="ascii-white"
            href="mailto:remi.legrand@le-campus-numerique.fr"
            style="text-decoration: none"
          >
            <span class="socials">
              <span class="icon-background">
                <span class="icon"
                  ><img
                    class="icon"
                    src="assets/email-icon.svg"
                    alt="email-icon"
                    loading="lazy"
                /></span>
                <p
                  style="
                    font-size: 17px;
                    text-wrap-mode: nowrap;
                    color: aliceblue;
                  "
                >
                  &nbsp;&commat;email me
                </p>
              </span>
              <span class="arrow">&#10147;</span>
            </span>
          </a>
        </p>
        <p>&nbsp;</p>
        <p><span class="neofetch-color">Packages</span>: 1980 (pacman)</p>
        <p><span class="neofetch-color">Shell</span>: bash custom</p>
        <p><span class="neofetch-color">CPU</span>: coffee</p>
        <p><span class="neofetch-color">GPU</span>: pixel artist</p>
        <p><span class="neofetch-color">Memory</span>: subjectively good</p>

        <div class="neofetch-color-rect">
          <div class="rect bgd-black"></div>
          <div class="rect bgd-red"></div>
          <div class="rect bgd-green"></div>
          <div class="rect bgd-yellow"></div>
          <div class="rect bgd-blue"></div>
          <div class="rect bgd-purple"></div>
          <div class="rect bgd-cyan"></div>
          <div class="rect bgd-white"></div>
        </div>
        <div class="neofetch-color-rect-two">
          <div class="rect bg-black"></div>
          <div class="rect bg-red"></div>
          <div class="rect bg-green"></div>
          <div class="rect bg-yellow"></div>
          <div class="rect bg-blue"></div>
          <div class="rect bg-purple"></div>
          <div class="rect bg-cyan"></div>
          <div class="rect bg-white"></div>
        </div>
      </div>
    </div>
  </div>
</div>
