<div class="container-terminal">
  <p>
    Use [<span class="command">./</span>] or [<span class="command">cd ./</span
    >] in front of a file to go there.
  </p>
  <p>
    Use [<span class="command">..</span>] or [<span class="command">cd ..</span
    >] to go home.
  </p>
  <br />
  <ul *ngIf="currentPathForSingleComponent == 'user/'">
    <li>./projects</li>
    <li>./about</li>
    <li>./secret</li>
  </ul>
  <ul *ngIf="currentPathForSingleComponent == 'user/projects/'">
    <li>./portfolio_v1</li>
    <li>./WIP</li>
    <li>./WIP</li>
  </ul>
</div>
