<div class="container-terminal">
  <ul *ngIf="currentPathForSingleComponent == 'user/'">
    <li>./<span class="txt-green">info</span></li>
    <li>./<span class="txt-blue">projects</span></li>
    <li>./<span class="txt-blue">secrets</span></li>
    <li>./<span class="txt-white">about.txt</span></li>
    <div
      *ngIf="
        currentChildForSingleComponent == 'ls -a' ||
        currentChildForSingleComponent == 'list -a'
      "
    >
      <li>./<span class="txt-green">.help</span></li>
      <li>./<span class="txt-red">.27061987</span></li>
    </div>
  </ul>
  <ul *ngIf="currentPathForSingleComponent == 'user/projects/'">
    <li>./<span class="txt-green">portfolio_v1</span></li>
    <li>./<span class="txt-green">WIP</span></li>
    <li>./<span class="txt-green">projects</span></li>
    <div
      *ngIf="
        currentChildForSingleComponent == 'ls -a' ||
        currentChildForSingleComponent == 'list -a'
      "
    >
      <li>./<span class="txt-green">.game</span></li>
    </div>
  </ul>
  <ul *ngIf="currentPathForSingleComponent == 'user/secrets/'">
    <li>./<span class="txt-green">secret1</span></li>
    <li>./<span class="txt-white">secret2.txt</span></li>
    <li>./<span class="txt-white">secret3.txt</span></li>
  </ul>
</div>
