<div class="container-terminal">
  <div class="container-info">
    <div class="left-container-info">
      <p class="txt-white-dark info-txt to-be-hidden-for-low-res-screen">
        ============================
      </p>
      <p class="info-txt">
        <span class="to-be-hidden-for-low-res-screen">
          |&nbsp;&nbsp;Hi, my name is '<span class="txt-white">Rémi</span
          >'.&nbsp;&nbsp;|
          <br />
          ============================
          <br />
          <br />
        </span>
        This is a portfolio project I did to discover Angular. I love learning
        new things and contributing to interesting projects, the technologies I
        like the most are [<a
          href="https://fr.wikipedia.org/wiki/Java_(langage)"
          class="txt-red"
          >Java</a
        >], [<a
          href="https://fr.wikipedia.org/wiki/C_(langage)"
          class="txt-blue"
          >C</a
        >]/ [<a href="https://fr.wikipedia.org/wiki/C%2B%2B" class="txt-cyan"
          >C++</a
        >], and [<a href="https://gdscript.com/" class="txt-purple">GDScript</a
        >]. I'm also an open-source fan and Linux/GNU lover (shocker right).
        <br />
        <span class="to-be-hidden-for-low-res-screen">
          <br />
          This does not mean that I hate other technologies, these are my
          comfort zone. So if you'd like to collaborate on a project using
          specific frameworks, other programming languages or others I'd love to
          hear about it!
        </span>
      </p>
    </div>
    <div class="right-container-info">
      <pre class="txt-white-dark tux-ascii">
<span class="txt-blue">                
                 .88888888:.
                88888888.88888.
              .8888888888888888.
              888888888888888888
              88' _`88'_  `88888
              88 <span class="txt-white-dark">88</span> 88<span class="txt-white-dark"> 88</span>  88888
              88_<span class="txt-white-dark">88</span>_::_<span class="txt-white-dark">88</span>_:88888
              88<span class="txt-yellow">:::,::,:::::</span>8888
              88<span class="txt-yellow">`:::::::::'`</span>8888
             .88<span class="txt-yellow">  `::::'    </span>8:88.
            8888            `8:888.
          .8888'             `888888.
         .8888:..  .::.  ...:'8888888:.
        .8888.'     :'     `'::`88:88888
       .8888        '         `.888:8888.
      888:8         .           888:88888
    .888:88        .:           888:88888:
    8888888.       ::           88:888888
    `<span class="txt-yellow">.::.</span>888.      ::          .88888888
    <span class="txt-yellow">.::::::.</span>888.    ::         <span class="txt-yellow">:::</span>`8888'<span class="txt-yellow">.:.</span>
    <span class="txt-yellow">::::::::::.</span>888   '         .<span class="txt-yellow">::::::::::::</span>
    <span class="txt-yellow">::::::::::::.</span>8    '      .:8<span class="txt-yellow">::::::::::::.</span>
   <span class="txt-yellow">.::::::::::::::.</span>        .:888<span class="txt-yellow">:::::::::::::</span>
   <span class="txt-yellow">:::::::::::::::</span>88:.__..:88888<span class="txt-yellow">:::::::::::'</span>
   <span class="txt-yellow">`'.:::::::::::</span>88888888888.88<span class="txt-yellow">:::::::::'</span>
         <span class="txt-yellow">`':::_:'</span> -- '' -'-' `'<span class="txt-yellow">:_::::'`</span>
    </span>
    </pre>
    </div>
  </div>
</div>
