<div class="container-terminal">
  <br />
</div>
<div class="container-terminal">
  <p>
    [<span class="txt-rainbow"
      >An RPG map for d&d sessions at Le Campus Numérique</span
    >]:
  </p>
  <br />
  <div class="container">
    <div class="left-container">
      <pre class="ascii-computer"><span class="txt-red">
        ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⣀⣀⣀⣀⣠⣼⠂⠀⠀⠀⠀⠙⣦⢀⠀⠀⠀⠀⠀⢶⣤⣀⣀⣀⣀⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣠⣴⣶⣿⣿⣿⣿⣿⣿⣿⣿⠷⢦⠀⣹⣶⣿⣦⣿⡘⣇⠀⠀⠀⢰⠾⣿⣿⣿⣟⣻⣿⣿⣿⣷⣦⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣤⣾⣿⣿⣿<span class="txt-black-dark">⣿⣿⣿⣿⣿</span>⣿⡟⠀⠀⠀⠀⢺⣿⣿⣿⣿⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⢹⣿<span class="txt-black-dark">⣿⣿⣿⣿⣿⣿</span>⣿⣿⣷⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⠀⠀⠀⢀⣴⢟⣥⣿<span class="txt-black-dark">⣿⣿⣿⣿⣿⣿⣿⣿</span>⣿⡇⠀⠀⠀⠀⢻⣿⣿⡏⢹⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀⣿<span class="txt-black-dark">⣿⣿⣿⣿⣿⣿⣿⣿⣿</span>⣮⣝⢷⣄⠀⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⠀⠀⣴⣿⣿<span class="txt-black-dark">⣿⣿⣿⣿⣿⣿⣿⡿⢛⣿⣿</span>⣿⡇⠀⠀⠀⠀⠛⣿⣿⣷⡀⠘⢿⣧⣻⡷⠀⠀⠀⠀⠀⠀⣿<span class="txt-black-dark">⣿⣿⣟⢿⣿⣿⣿⣿⣿⣿⣿⣿</span>⣝⢧⡀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⢠⣾⣿⠟<span class="txt-black-dark">⣡⣾⣿⣿⣧⣿⡿⣋⣴⣿⣿⣿</span>⣿⣧⠀⠀⠀⠀⠀⢻⣿⣿⣿⣶⡄⠙⠛⠁⠀⠀⠀⠀⠀⢸⣿<span class="txt-black-dark">⣿⣿⣿⣷⣝⢻⣿⣟⣿⣿⣷⣮⡙⢿</span>⣽⣆⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⢀⡿⢋<span class="txt-black-dark">⣴⣿⣿⣿⣿⣿⣼⣯⣾⣿⣿⡿⣻⣿</span>⣿⣿⣦⠀⠀⠀⠀⢀⣹⣿⣿⣿⣿⣶⣤⠀⠀⠀⠀⠀⣰⣿<span class="txt-black-dark">⣿⣿⣿⠻⣿⣿⣿⣮⣿⣿⣿⣿⣿⣿⣦</span>⡙⢿⣇⠀⠀⠀⠀
        ⠀⠀⠀⣠⡏<span class="txt-black-dark">⣰⣿⣿⡿⢿⣿⣿⣿⣿⣿⣿⡿⢋⣼⣿⣿⣿</span>⣿⣿⣷⡤⠀⣠⣿⣿⣿⣿⣿⣿⣿⣿⣷⣄⠀⢠⣾<span class="txt-black-dark">⣿⣿⣿⣿⣿⣷⡜⢿⣿⣿⣿⣿⣿⣿⡿⠿⣿⣿⣦</span>⡙⣦⠀⠀⠀
        ⠀⠀⣰⢿<span class="txt-black-dark">⣿⣿⠟⠋⣠⣾⣿⣿⣿⣿⣿⠛⢡⣾⡿⢻⣿⣿⣿</span>⣿⣿⣿⣿⣿⡿⠋⠻⣿⡟⣿⣿⣿⠻⢿⣿⣿<span class="txt-black-dark">⣿⣿⣿⣿⣿⣟⠻⣿⣆⠙⢿⣿⣿⣿⣿⣿⣦⡈⠻⣿⣿⣟</span>⣧⠀⠀
        ⠀⣰⢣<span class="txt-black-dark">⣿⡿⠃⣠⡾⠟⠁⠀⣸⣿⡟⠁⢀⣿⠋⢠⣿⡏⣿⣿⣿</span>⣿⣿⢿⠁⢀⣠⣴⢿⣷⣿⣿⣿⠀⠀<span class="txt-black-dark">⠽⢻⣿⣿⣿⣿⡼⣿⡇⠈⢿⡆⠀⠻⣿⣧⠀⠈⠙⢿⣆⠈⠻⣿⣎⢧⠀</span>
        ⠀⢣<span class="txt-black-dark">⣿⠟⢀⡼⠋⠀⠀⢀⣴⠿⠋⠀⠀⣾⡟⠀⢸⣿⠙⣿⠃⠘⢿⡟⠀</span>⣰⢻⠟⠻⣿⣿⣿⣿⣿⣀⠀⠀ <span class="txt-black-dark">⠘⣿⠋⠀⣿⡇⣿⡇⠀⠸⣿⡄⠀⠈⠻⣷⣄⠀⠀⠙⢷⡀⠙⣿⣆⠁</span>
        <span class="txt-black-dark">⢀⣿⡏⠀⡞⠁⢀⡠⠞⠋⠁⠀⠀⠀⠈⠉⠀⠀⠀⠿⠀⠈⠀⠀⠀⠀⠀</span>⣿⣿⣰⣾⣿⣿⣿⣿⣿⣿⣤⠀       <span class="txt-black-dark">⠀⠉⠀⠸⠃⠀⠀⠈⠋⠀⠀⠀⠀⠙⠳⢤⣀⠀⠹⡄⠘⣿⡄</span>
        <span class="txt-black-dark">⣸⡟⠀⣰⣿⠟⠋</span>⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠛⠿⠿⠿⠟⠁⠀⠹⣿⣷⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀       ⠀⠀<span class="txt-black-dark">⠈⠻⣿⣧⠀⢹⣷</span>
        <span class="txt-black-dark">⣿⠃⢠⡿⠃</span>⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⣄⣤⣀⠀⠀⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀       <span class="txt-black-dark">⠀⠀⠈⢻⡇⠀⣿</span>
        <span class="txt-black-dark">⣿⠀⢸⠅</span>⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣰⡿⠋⠉⢻⣧⢀⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀       ⠀⠀<span class="txt-black-dark">⠀⣿⠀⢸</span>
        <span class="txt-black-dark">⡇⠀⠈</span>⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢿⣧⡀⠀⠀⣿⣾⡟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀       <span class="txt-black-dark">⠀⠈⠀⢸</span>
        <span class="txt-black-dark">⢸⡄</span>⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠻⠿⣿⣿⠟⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀       ⠀<span class="txt-black-dark">⠀⠀⠀⡾</span>
        <span class="txt-black-dark">⠈⠁</span>⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣰⡿⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀       ⠀<span class="txt-black-dark">⠀⠀⠃</span>
        ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⡏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠘⣧⢀⣾⣤⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
        ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⡼⣿⣿⣾⣤⣠⡼⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    </span></pre>
      <img
        class="fire-anim project-img"
        [ngSrc]="'assets/fire-anim.png'"
        alt="fire-anim"
        width="75"
        height="75"
      />
    </div>
    <div class="right-container">
      <p class="presentation-project">
        This is an single page application rpg map [<a
          href="https://github.com/Alopekos/RPG-map-campus-numerique"
          class="txt-purple"
          >Git repository</a
        >]. It was my first time using a JavaScript framework [<span
          class="txt-green"
          >Vue.js</span
        >] and was made to help our class in remembering the progression of the
        story in our custom d&d game.<span
          class="to-be-hidden-for-low-res-screen"
          >The site allows users to explore an interactive RPG-style map, with
          customizable markers and routes for easier navigation. <br /><br />
          Even though my understanding of component based code was not optimal
          at the time it still acts as a nice memento to my time spent with my
          colleagues and the adventures we had.
        </span>
      </p>
    </div>
  </div>
</div>
<div class="container-terminal">
  <div
    class="portfolio-presentation"
    (mouseenter)="onHover()"
    (mouseleave)="onLeave()"
  >
    <p style="overflow: hidden">
      ===============================================================================================================================================================================
    </p>
    <a href="https://carte-jdr-campus-numerique.netlify.app/" target="_blank">
      <p class="txt-white-dark" style="text-wrap-mode: nowrap">
        Go and have a look if you'd like by clicking this link
      </p>
      <span class="arrow">|</span>

      <div class="text-container txt-white-dark" [class.typing]="isHovered">
        <span
          *ngFor="let letter of textArray; let i = index"
          class="letter"
          [style.animationDelay]="i * 0.05 + 's'"
        >
          {{ letter }}
        </span>
      </div>
    </a>
    <p style="overflow: hidden">
      ===============================================================================================================================================================================
    </p>
  </div>
</div>
